absl-py==0.13.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
ase==3.21.1
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.9
attrs==21.2.0
bayesian-optimization==1.2.0
blessings==1.7
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chex==0.0.7
click==8.0.1
cloudpickle==1.6.0
cma==3.0.3
colorama==0.4.4
colorful==0.5.4
cryptography==3.4.7
cvxpy==1.1.13
cycler==0.10.0
decorator==4.4.2
dm-acme==0.2.1
dm-env==1.4
dm-reverb-nightly==0.3.0.dev20210622
dm-sonnet==2.0.0
dm-tree==0.1.6
dopamine-rl==3.1.14
ecos==2.0.5
et-xmlfile==1.1.0
filelock==3.0.12
flatbuffers==1.12
flax==0.3.4
gast==0.4.0
gin-config==0.4.0
google-api-core==1.30.0
google-auth==1.31.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
gpustat==0.6.0
Grid2Op==1.6.0.post1
grpcio==1.34.1
gym==0.18.3
h5py==3.1.0
hiredis==2.0.0
idna==2.10
imageio==2.9.0
isodate==0.6.0
jax==0.2.14
jaxlib==0.1.67
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
l2rpn-baselines==0.5.1
LightSim2Grid @ file:///lightsim2grid
llvmlite==0.36.0
lxml==4.6.3
lz4==3.1.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
msgpack==1.0.2
multidict==5.1.0
networkx==2.5.1
nevergrad==0.4.3.post4
numba==0.53.0
numexpr==2.7.3
numpy==1.19.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.1
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.2.54
opencv-python-headless==4.3.0.36
openpyxl==3.0.7
opt-einsum==3.3.0
optax==0.0.8
ortools==9.0.9048
osqp==0.6.2.post0
packaging==20.9
paddlepaddle==2.1.0
pandapower==2.6.0
pandas==1.2.4
patsy==0.5.1
Pillow==8.2.0
ply==3.11
portpicker==1.4.0
prometheus-client==0.11.0
protobuf==3.17.3
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycparser==2.20
pydantic==1.8.2
pygame==2.0.1
pygifsicle==1.0.4
pyglet==1.5.15
Pympler==0.9
Pyomo==6.0.1
pyparsing==2.4.7
pypsa==0.17.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
PyYAML==5.4.1
qdldl==0.1.5.post0
ray==1.4.0
rdflib==5.0.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.0
scs==2.1.4
six==1.15.0
spektral==1.0.6
stable-baselines3==1.0
statsmodels==0.12.2
tables==3.6.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-estimator==2.5.0
tensorflow-probability==0.12.2
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==2.1.0
tianshou==0.4.1
toolz==0.11.1
torch==1.8.1+cpu
torch-cluster==1.5.9
torch-geometric==1.7.0
torch-scatter==2.0.7
torch-sparse==0.6.9
torch-spline-conv==1.2.1
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm==4.61.1
typeguard==2.12.1
typing-extensions==3.7.4.3
urllib3==1.26.5
Werkzeug==2.0.1
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.4.3
yarl==1.6.3
